@model IEnumerable<Indicators>

<table class="table table table-hover table-striped">
    <thead class="table-primary">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Type_Indicator)
            </th>

            <th scope="col">تعديل المؤشر</th>
            <th scope="col">حذف المؤشر</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type_Indicator)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Indicators" asp-route-id="@item.Id">
                        <i class="bi bi-pen"></i>
                        تعديل
                    </a>
                </td>
                <td>
                    <div class="btn btn-outline-danger DeletvIndicator" id="@item.Id"  data-id="@item.Id">
                        <i class="bi bi-trash3-fill"></i>
                        حذف
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@* <script src="~/js/Indicators/indicator.js"></script> *@

                    <script>
    $(".DeletvIndicator").click(function () {
        let id =  this.id
        debugger;
        Swal.fire({
            title: 'هل تريد حقا الحذف؟؟',
            text: '',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'نعم إحذف!',
            cancelButtonText: 'إلغاء الحذف',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // User clicked the "Yes, delete it!" button
                debugger
                
                $.ajax({
                    url: '/Indicators/Delete/' + id,
                    type: 'GET',
                    success: function (data) {

                        debugger;
                        // Handle success
                        Swal.fire({
                            title: 'تم الحذف بنجاح',
                            icon: 'sucess',
                        });
                            window.location.href = "/Indicators/Index";
                        
                    },
                    error: function () {
                        console.log('Error loading data.');
                    }
                });
            } else {
                // User clicked the "No, cancel!" button or closed the dialog
                console.log('Deletion canceled.');
            }
        });
    });


</script>